[project]
	description = For learning purposes only
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kamilmaj94
[access "refs/for/refs/*"]
	read = group Sandbox-Systems
	read = group user/kamilmaj94
	push = group Sandbox-Systems
	push = group user/kamilmaj94
	label-Code-Review = -2..+2 group user/kamilmaj94
	label-Verified = -1..+1 group Sandbox-Systems
	label-Verified = -1..+1 group user/kamilmaj94
	rebase = group Sandbox-Systems
	rebase = group user/kamilmaj94
	removeReviewer = group Sandbox-Systems
	removeReviewer = group user/kamilmaj94
	submit = group Sandbox-Systems
	submit = group user/kamilmaj94
[access "refs/heads/*"]
	read = group user/kamilmaj94
	create = group user/kamilmaj94
	push = +force group user/kamilmaj94
	pushMerge = group user/kamilmaj94
[access "refs/tags/*"]
	push = group user/kamilmaj94
	push = +force group user/kamilmaj94
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
